<div>
  <button
    type="button"
    [id]="'btn_user_' + userId"
    data-testid="btn_user"
    [attr.data-userid]="userId"
    (click)="onSelectUser($event)"
  >
    <!-- property binding, differs from attribute binding, where no DOM property is present and needs [attr.somethin] syntax -->
    <img [src]="imagePath" [alt]="userName" [title]="userName" />
    <!-- string interpolation -->
    <span [id]="'span_user_' + userId" [attr.data-userid]="userId">{{
      userName
    }}</span>
  </button>
</div>
