<header>
  <app-header />
  <h2>{{ title }}</h2>
</header>

<main>
  <ul id="users">
    <li>
      <app-user [user]="users[0]" (select)="onSelectUser($event)" />
    </li>
    <li>
      <app-user [user]="users[1]" (select)="onSelectUser($event)" />
    </li>
    <li>
      <app-user [user]="users[2]" (select)="onSelectUser($event)" />
    </li>
    <li>
      <app-user [user]="users[3]" (select)="onSelectUser($event)" />
    </li>
    <li>
      <app-user [user]="users[4]" (select)="onSelectUser($event)" />
    </li>
    <li>
      <app-user [user]="users[5]" (select)="onSelectUser($event)" />
    </li>
  </ul>
  <div>
    <app-tasks [name]="selectedUser?.name" />
  </div>
</main>
<section>
  <p>And here is the router outlet:</p>
  <router-outlet />
</section>
